<h1>List Restaurant</h1>

<table class="restaurant_table table">
<tr>
	<td>Name</td>
	<td>Desc</td>
	<td>Owner</td>
	<td>Address</td>
	<td>Phone Number</td>
</tr>

<%@restaurants.each do |r| %>
	<tr>
		<td><%= r.name %> </td>
		<td><%= r.desc %> </td>
		<td><%= (r.owner.nil?) ? "No Owner" : r.owner.email %> </td>
		<td><%= r.name %> </td>
		<td><%= r.phone_number %> </td>

		<td><%= button_to "Show", 	{action: :show, 	id: r.id}, 	{method: :get} %> </td>
	</tr>
<%end%>

</table>

<%= button_to "Create Restaurant", {:action => :new}, {:method => :get} %>

